{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('addOffer') }}
{% endblock %}

{% block body %}
    <main>
        <div class="moveShadowBox">
            <h1>Ajouter une annonce</h1>
            {{ form_start(form) }}
            {{ form_row(form.title, {'label' : 'Titre :'}) }}
            <div class="inline">
                {{ form_row(form.week_hours, {'label' : 'Heures / semaines :'}) }}
                {{ form_row(form.net_salary, {'label' : 'Salaire net par mois:'}) }}
            </div>
            {{ form_row(form.description, {'label' : 'Description :'}) }}
            <div class="inline">
                {{ form_row(form.location_type, {'label' : 'Choissisez le type de lieux :'}) }}
                {{ form_row(form.location_id, {'label' : 'Choissisez lieux :'}) }}
            </div>
            <div id="validate">
                {{ form_row(form.Soumettre, {'label' : button}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addOffer') }}
{% endblock %}
